body {
  width: 80%;
  margin: auto;
}

.topNav {
  border: 3px solid black;
  margin-bottom: 10px;
  background-color: #FFB4B0;
  padding: 20px;
}

.topNav li {
  text-decoration: none;
  display: inline-block;
  padding: 0px 10px;
  border-right: 2px solid black;
}

.musicSelector {
  border: 3px solid black;
  margin: auto;
  width: 30%;
  height: 400px;
  background-color: #4DD7FA;
  float: left;
}

ul.genreCheck {
  padding-left: 0;
}
.genreCheck li {
  list-style: none;
}

#leftBox, #rightBox {
  display: inline-block;
  width: 49%
  padding: 0;
}

fieldset {
  border: none;
}

button {
  margin: 10px;
  padding: 0 20px;
  font-size: 18px;
}

.buttonWrap {
  text-align: center;
}

.songBox {
  float: right;
  border: 3px solid black;
  margin: auto;
  width: 68%;
  height: 400px;
  background-color: #FEFAC0;
}

h2 {
  color: #785616;
}

/*Music History 3 CSS*/

/*ul > li {
  display: inline;
  list-style-type: none;
  margin: 5px 15px 0 15px;
  background-color: goldenrod;
  padding: 5px;
}*/

/*.visible {
  display: block;
}*/

.hidden {
  display: none;
}

/*body {
  font-size: 2em;
}*/

.addBox {
  margin: auto;
  width: 30%;
  text-align: center;
}
